body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/annie-spratt-nmk188HvO_A-unsplash.jpg");
    
}
.my-info{
    padding: 2rem 5rem;
}


table{
    opacity: 0.5px;
}

.btn-info:hover{
    background-color: rgb(240, 241, 252)!important;
}
.topic
{
    background-color: #162847;
    text-align: left;
    color: whitesmoke;
    width: 100%;
    height: 70px;
    font-size: 40px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #4f3e8e;
}
button{
    padding: 15px 25px;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #4f3e8e;
    background-color: whitesmoke;
    border: none;
    box-shadow:  0 7px rgb(66, 68, 70);

  }
  button:hover {background-color:#a0c0f8}
  
  button:active {
    background-color: #4f3e8e;
    box-shadow: 0 5px rgb(149, 221, 243);
    transform: translateY(4px);
  }
  a{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #4f3e8e;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 7px rgb(66, 68, 70);
  }
  
  a:hover {background-color:#a0c0f8}
  
  a:active {
    background-color: #4f3e8e;
    box-shadow: 0 5px rgb(149, 221, 243);
    transform: translateY(4px);
  }